<div class="list-group list-group-flush">
 
    <div class="list-group-item border-0 ps-0 py-2" style="font-size: 0.95rem;">
      <em><%= message.user.username %></em>: <%= message.body %>
    </div>

</div>
