<div class="text-center my-4">
  <span class="d-inline-flex align-items-center justify-content-center 
               rounded-circle border"
        style="width: 64px; height: 64px;">
    <i class="fa-solid fa-coffee fs-4 text-danger"></i>
  </span>

  <h3 class="mt-2 fw-semibold">Friends</h3>
</div>
