/* navbar */

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #5a544f !important;
}

/* root_path */

.menu-inverted .list-group-item-action:hover {
  background-color: #4a4a4a !important;
  color: #ffffff !important;
}

.menu-inverted .list-group-item.active {
  background-color: #5a5a5a !important;
  color: #ffffff !important;
}

.chatbox {
  height: 450px;
}


btn:focus, .btn:active {
    box-shadow: none !important;
    outline: none !important;
  }


/* login_path */

  /* Ícone de Power (Topo) */
.power-icon-wrapper {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 15px;
  color: #d32f2f;
  font-size: 1.5rem;
}

/* Caixa Principal (Card) */
.main-card {
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 40px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Inputs Personalizados */
.input-group-text {
  background-color: #f1f1f1;
  border: 1px solid #ced4da;
  border-right: none;
  color: #555;
}

.form-control {
  border-left: none;
  background-color: #f9f9f9;
}

.form-control:focus {
  box-shadow: none;
  background-color: #fff;
  border-color: #ced4da;
}

/* Divisor "OR" */
.divider-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #dee2e6;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.or-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  z-index: 2;
}

/* Botões */
.btn-custom-login {
  background-color: #eebc76;
  color: white;
  padding: 8px 30px;
  font-weight: 500;
  border: none;
}
.btn-custom-login:hover {
  background-color: #f0ad4e;
  color: white;
}

.btn-custom-signup {
  background-color: #eebc76;
  color: white;
  padding: 10px 40px;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  width: 200px;
  text-decoration: none; /* Importante para link_to */
  display: inline-block;
}
.btn-custom-signup:hover {
  background-color: #f0ad4e;
  color: white;
}

#messages {
  height: 15em;
  overflow-y: auto;

};


