<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Menu à esquerda -->
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item ">
          <%= link_to "Chatroom", root_path, class: "nav-link" %>
        </li>

       <li class="nav-item ">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>

      <!-- Itens à direita -->
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item text-danger" href="#">Log out</a></li>
            <%= link_to "Log in", login_path, class: "dropdown-item" %>
            <li><a class="dropdown-item" href="#">Sign in</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "btn btn-primary" %>
        </li>

      </ul>

    </div>
  </div>
</nav>
